# Server
PORT=5000

# Database
DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=flipkart123
DB_NAME=flipkart_clone

# JWT
JWT_SECRET=your_super_secret_jwt_key_change_this_in_production

# Email (Gmail SMTP)
EMAIL_USER=veeraprasad.koduri@gmail.com
EMAIL_PASS=xeqz vood sshp gkrl
